<div class="w-2xl mx-auto flex flex-col gap-4">
  <p class="text-2xl">Choose specific contacts to send a message to</p>
  <%= form_with url: send_message_path, method: :post do |f| %>
    <%= f.hidden_field :receipients, value: :individual %>
    <div class="h-[20rem] overflow-scroll">
      <% @contacts.each do |c| %>
        <% next if !c.name || !c.id %>
        <div class="input-div flex flex-row items-center gap-2 my-2">
          <%= checkbox_tag "contact_ids[]", c.id, class: "rounded", style: "color: black;" %>
          <%= label_tag c.name %>
        </div>
      <% end %>
    </div>
    <div class="mt-4 flex flex-row items-center">
      <%= f.text_field :message, class: "block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Message..." %>
      <div class="hover:bg-gray-200 h-full p-2 flex items-center justify-center">
        <button type="submit" class="cursor-pointer">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="35"  height="35"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-send-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" /><path d="M6.5 12h14.5" /></svg>
        </button>
      </div>
    </div>
  <% end %>
</div>