<div class="container flex flex-row justify-center">
  <%= form_with url: "/", local: true, class: "w-full max-w-lg" do |f| %>
    <div class="space-y-6">
      <% if @params[:source].present? %>
        <p class="text-2xl bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 text-transparent bg-clip-text">We'd love to get you onboarded, please fill this form out and we'll get back to you within one business day.</p>
        <div>
          <label for="organization_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white <%= @params[:source].present? ? "bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 text-transparent bg-clip-text" : "" %>">Organization Name</label>
          <%= f.text_field :organization_name, id: "organization_name", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
        </div>
      <% end %>
      <!-- Email -->
      <div>
        <label for="contact_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white <%= @params[:source].present? ? "bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 text-transparent bg-clip-text" : "" %>">Email Address</label>
        <%= f.text_field :email, id: "contact_email", required: true, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" %>
      </div>
      <% if @params[:source].present? %>
        <div>
          <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white <%= @params[:source].present? ? "bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 text-transparent bg-clip-text" : "" %>">Select an option</label>
          <select id="countries" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <%# <option disabled>Choose an organization type</option> %>
            <option value="shul">Shul</option>
            <option value="school">School</option>
          </select>
        </div>
      <% end %>
      <!-- Date Range -->
      <div class="flex flex-col sm:flex-row sm:items-center sm:gap-4">
        <!-- Year Entered -->
        <textarea id="message" required rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>
      </div>
      <!-- Submit Button -->
      <div>
        <button type="submit"
        class="w-full sm:w-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Submit
        </button>
      </div>
    </div>
  <% end %>
</div>
