<% if current_organization %>
  <div class="container sm:px-6 md:px-8">
    <div class="max-w-3xl mx-auto flex flex-col gap-6">
      <p class="text-3xl sm:text-4xl font-semibold text-center sm:text-left">
        Send A Quick Message
      </p>
      <% if @contacts.any? %>
        <p class="text-base sm:text-md text-gray-700 dark:text-gray-300 text-center sm:text-left">
          This message will go to all of your contacts.
        </p>
        <%= form_with url: send_message_path, method: :post do |f| %>
          <% if current_organization.school? %>
            <div class="flex items-center gap-2 mb-2">
              <%= check_box_tag :send_to_staff, class: "rounded text-blue-600 focus:ring-blue-500 dark:bg-gray-700 dark:border-gray-600" %>
              <%= label_tag :send_to_rebbeim, "Send to Rebbeim", class: "text-gray-700 dark:text-gray-300 text-sm" %>
            </div>
          <% end %>
          <div class="flex flex-col md:flex-row items-stretch gap-3">
            <%= f.hidden_field :receipients, value: :all %>
            <%= f.text_area :message, class: "flex-grow p-3 h-64 md:h-auto text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", placeholder: "Message...", id: "message-input" %>
            <button type="submit" class="p-3 bg-gray-200 hover:bg-gray-300 rounded-lg flex items-center justify-center shrink-0" id="send-button">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 sm:h-7 sm:w-7 text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4.698 4.034l16.302 7.966l-16.302 7.966a.503 .503 0 0 1 -.546 -.124a.555 .555 0 0 1 -.12 -.568l2.468 -7.274l-2.468 -7.274a.555 .555 0 0 1 .12 -.568a.503 .503 0 0 1 .546 -.124z" />
                <path d="M6.5 12h14.5" />
              </svg>
            </button>
          </div>
        <% end %>
        <% if current_organization.school? %>
          <div class="flex items-center my-6">
            <hr class="flex-grow border-gray-300">
            <span class="px-4 text-blue-600 text-sm sm:text-xl">OR</span>
            <hr class="flex-grow border-gray-300">
          </div>
          <a href="<%= new_message_path %>" class="block w-full text-center text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-3">
            Customize message
          </a>
        <% end %>
      <% else %>
        <p class="text-xl sm:text-2xl text-center sm:text-left">
          No contacts found <%= link_to 'Add a contact', new_contact_path, class: "text-blue-600 underline" %>
        </p>
      <% end %>
    </div>
  </div>
<% else %>
  <section class="bg-gradient-to-br from-blue-5 to-indigo-100">
    <div class="container mx-auto px-6 md:px-12 lg:px-20 flex flex-col-reverse lg:flex-row items-center gap-12">
      <!-- Text Column -->
      <div class="w-full lg:w-1/2 text-center justify-end lg:text-left space-y-6">
        <h3 class="text-lg uppercase text-gray-600 font-semibold">
          No more running around <br class="hidden sm:block" />
          trying to find a great service.
        </h3>
        <h1 class="text-4xl sm:text-5xl font-bold text-gray-900">
          Send a message in one click.
        </h1>
        <p class="text-lg text-gray-600 leading-relaxed max-w-md mx-auto lg:mx-0">
          Easily get started by clicking the button below. <br>
          We'll have you up and running in a jiffy!
        </p>
        <div class="flex flex-col sm:flex-row justify-center lg:justify-start gap-4 pt-4">
          <%= link_to 'Sign In', new_organization_session_path, class: "bg-blue-700 hover:bg-blue-800 text-white px-6 py-3 rounded-lg text-base font-medium transition" %>
          <%= link_to 'Get Started', "/contact_us?source=sign_up", class: "bg-blue-700 hover:bg-blue-800 text-white px-6 py-3 rounded-lg text-base font-medium transition" %>
        </div>
        <p>If you would like to be added as a contact, <a href="/sign_up" class="text-lg text-blue-500 underline">click here</a></p>
      </div>
      <!-- Image Column -->
      <div class="w-full lg:w-1/2 flex justify-center">
        <%# <img src="https://i.postimg.cc/nVv10FZP/st.jpg" alt="Illustration" class="w-full max-w-md lg:max-w-lg"> %>
        <%= image_tag 'st.jpeg', alt: "image sms", class: "w-full max-w-md lg:max-w-lg" %>
      </div>
    </div>
  </section>
<% end %>
<%# <script>
  document.addEventListener("turbo:load", () => {
    sendButton = document.getElementById("send-button");
    messageInput = document.getElementById("message-input");
    sendButton.addEventListener("click", (e) => {
      if (messageInput.value.trim() === "") {
        e.preventDefault()
        alert("You need to enter something to send a message!")
      } else {
        return
      }
    })
  });
</script> %>