<div class="container px-4 sm:px-6 lg:px-8 mx-auto">
  <!-- Action buttons -->
  <div class="w-full md:w-4xl mx-auto flex flex-col sm:flex-row sm:justify-start gap-3 my-4">
    <a href="<%= new_contact_path %>" type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 flex items-center gap-2 justify-center sm:justify-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icon-tabler-plus">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M12 5l0 14"/>
        <path d="M5 12l14 0"/>
      </svg>
      Add Contact
    </a>
    <a href="/contacts/import" type="button"
      class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 flex items-center gap-2 justify-center sm:justify-start">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icon-tabler-file-type-csv">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M14 3v4a1 1 0 0 0 1 1h4"/>
        <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4"/>
        <path d="M7 16.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0"/>
        <path d="M10 20.25c0 .414 .336 .75 .75 .75h1.25a1 1 0 0 0 1 -1v-1a1 1 0 0 0 -1 -1h-1a1 1 0 0 1 -1 -1v-1a1 1 0 0 1 1 -1h1.25a.75 .75 0 0 1 .75 .75"/>
        <path d="M16 15l2 6l2 -6"/>
      </svg>
      Import Contacts
    </a>
  </div>
  <!-- Responsive table wrapper -->
  <div class="overflow-x-auto">
    <table class="w-full md:w-4xl mx-auto text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">Phone</th>
          <% if !is_mobile? %>
            <th scope="col" class="px-6 py-3">Email</th>
            <th scope="col" class="px-6 py-3">Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each_with_index do |c, index| %>
          <tr class="<%= index.even? ? "bg-white" : "bg-gray-50" %> border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <th scope="row" class="px-6 py-4 font-medium text-blue-600 underline whitespace-nowrap dark:text-white">
              <%= link_to c.name, c %>
            </th>
            <td class="px-6 py-4"><%= "(#{c.phone[2..4]})-#{c.phone[5..7]}-#{c.phone[8..11]}" %></td>
            <% if !is_mobile? %>
              <td class="px-6 py-4"><%= c.email %></td>
              <td class="px-6 py-4 flex flex-row gap-2">
                <a href="<%= contact_path c %>" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">View</a>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>